img {
  height: 500px;
  filter: blur(5px);
}
.carousel-content {
  position: absolute;
  text-align: center;
  top: 41.65%;
  left: 30%;
  width: 634px;
  /* padding-left: 37px; */
  /* padding-right: 25px; */
  /* padding-top: 28px;
  padding-bottom: 44px; */
  background: rgba(0, 54, 121, 0.3);
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: 60px;
  padding: 40px;
}
.header {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  padding-left: 10px;
}
